<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - inmobiliaria</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" />
     
</head>
<body>
    <header>

        <nav class="navbar bd-navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Administración inmobiliaria</a>
            

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <div class="row">
                        <div class="col">
                             
                        </div>
                        <div class="col-sm-2 text-right">
                            
                        </div>
                    </div><!--.row-->
                </div><!--.container-->
            </div>
        </nav>

        <aside class="bg-dark p-4">
            <h3 class="text-light  text-center">Navegación</h3>

            <ul class="nav flex-column mt-5">
                <li class="nav-item">
                    <a href="/Home" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">home</i>
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Inmuebles" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">business</i>
                        Inmuebles
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Inquilinoes" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">directions_walk</i>
                        Inquilino
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Garantes" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">
                            directions_run
                        </i>
                        Garante
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Propietarios" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">
                            face
                        </i>
                        Propietario
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Alquilers" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">library_books</i>
                        Alquiler
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Pagoes" class="nav-link text-light d-flex align-items-center">
                        <i class="material-icons mr-2">monetization_on</i>
                        Pago
                    </a>
                </li>
            </ul>
        </aside>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />

        <main class="pt-4">
            @RenderBody()
        </main>

       
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <!-- &copy; 2019 - inmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
